@font-face {
  font-family: "test";
  src: url(font/mikadobold_demo.otf);
}
*{
  font-family: "test";
  background-color: rgba(26,29,28,255);
}
img{
  margin: 10px;
}
.menu{
  border-radius: 10px;
  box-shadow: 5px 10px #d9d4d4ca;
  text-align: center;

  margin: auto;
  box-sizing: border-box;
  height: auto;
  padding: 15px;
  width: 900px;
  border:1px solid grey;
}

.column{
  padding-left: 30px;
  box-sizing: border-box;
  height: 300ox;
  width: 50%;
  border: #888888;
  float: left;

}
/* Clear floats after the columns */
.menu:after {
  content: "";
  display: table;
  clear: both;
}
.title{
  font-size: 80px;
  color: white;
}
.subtitle{
  font-size: 50px;
  color: #ffc50c;
  margin-bottom: 10px;
}

p,h1{
  color: white;
}
.bookmark {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 1000;
}

.text-box{
  height: 40px;
  width: 150px;
  box-sizing: border-box;
  border: 0;
  padding: 8px;
  float:left;
  color: black;
  background-color: #ffc50c;

}

.triangle{
  float:left;
  height: 0;
  width: 0;
  border-top: 20px solid #ffc50c;
  border-bottom: 20px solid #ffc50c;
  border-right: 50px solid rgba(26,29,28,255);
}
.left{
  clear: left;
}

.container {
  position: relative;
  width: 50%;
}
