@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    height: auto;
    width: 100vw;
    background-color: #f1f3f5;
    font-family: 'Inter', sans-serif;
}

b {
    font-weight: 700;
}

.icon {
    height: 20px;
    width: 20px;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1.5fr 30fr 1fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "s h"
        "s m"
        "s f";
    transition: 2s;
}

header {
    /* grid-column: 2/-1; */
    display: flex;
    align-items: center;
    gap: 1em;
    grid-area: h;
    background-color: #fcfcfe;
}

header>* {
    margin-left: 10px;
}

.search-bar {
    background-color: #f3f6fa;
    display: flex;
    /* outline: 1px solid; */
    border-radius: 5px;

}

.search-bar>* {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
}

.search-bar input {
    padding: 10px;
}

.search-bar input:focus {
    outline: 0;
}

main {
    grid-area: m;

    display: flex;
    flex-direction: column;
    gap:2em;    
    background-color: #f5f7fb;
    padding: 10px;
}

.row:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: auto auto;    
    gap: 2rem;
    height: auto;
    /* outline: 1px solid; */
    width: 100%;
}
.row:nth-of-type(2){
    gap: 2rem;
    display: flex;
    flex-direction: row;
    height: auto;
    /* justify-content: space-between; */
    /* outline: 1px solid; */
    width: 100%;
    /* background-color: #1cbb8c; */
}
.row:nth-of-type(2) .card:nth-child(3){
    flex:1;
}
.card{
    padding: 20px;
    background-color: white;
}
.row:nth-of-type(1) .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* outline: 1px solid; */
}

.card h1{
    font-size: 28px;
    font-weight: 400;
    color: black;
}
.card-row-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-row-stats{
    display: flex;
    gap:7px;
}
.tag{
    font-size: 11.2px;
    border-radius: 3px;
    padding:3px 5px;
    /* outline: 1px solid; */
}
.blue{
    background-color:  rgba(59,125,221,.15);
}
.green{
    color: #1cbb8c;
    background-color: rgba(28,187,140,.15);
}

.red{
    color: #dc3545;
    background-color: rgba(220,53,69,.15);
}

.card-row-stats p{
    font-size: 14px;
}
.row:nth-of-type(1) .graph1{
    grid-area: 1/3/-1/-1;
}
.graph1{
    position: relative; 
    background-color: white;
    padding:10px;
    /* background-color: #a4d1ff; */
}
.card-title{
    font-size: 14px;
    color: #939ba2;
    font-weight: 600;
}
/* .graph1 iframe{
    padding: 0;
    margin: 0;
} */
main h3 {
    font-size: 21px;
}

.row:nth-of-type(3){
    width: 100%;
}
.row:nth-of-type(3) .card{
    width: 100%;

}

.sidebar {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: rgb(255, 255, 255);
    /* grid-area: 1/1/3/2; */
    grid-area: s;
}

.sidebar>* {
    margin-left: 40px;
}

.sidebar-user {
    /* outline: 1px solid; */
    display: flex;
    align-items: center;
    gap: 1em;
}

.sidebar-user h5 {
    font-weight: 600;
}

.sidebar ul {
    /* outline: 5px solid; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar li {
    /* outline: 1px solid; */
    display: flex;
    gap: 1em;
    font-size: 14px;
    color: #495057;
    font-weight: 500;
}

.sidebar li:hover,
#toggle-sidebar-button:hover {
    /* color: #518be1; */
    /* turn blue */
    filter: invert(54%) sepia(49%) saturate(591%) hue-rotate(178deg) brightness(88%) contrast(102%);
}

th {
    color: #495057;
    font-size: 14px;
    padding: 12px 12px 12px 20px;
    font-weight: 900;
}

tr:nth-child(1) progress {
    accent-color: blue;
    /* background: turquoise; */

}
tr:nth-child(2) progress {
    accent-color: red;
    /* background: turquoise; */

}
tr:nth-child(3) progress {
    accent-color: green;
    /* background: turquoise; */

}
table button{
    border: 0;
    font-size: 14px;
    padding:4px 13px;
    background-color: #f5f7fb;
}
table button:hover{
    background-color: #d0d2d5;
}
th,
td,
table {
    /* border: 1px solid black; */
    border: 0;
}

table{
    border-collapse: separate;
    border-spacing: 10px;
}
td {
    vertical-align: middle;
    padding: 8px;
}

.column1{
    display: flex;
    gap:10px;
}
.column1 img{
    height: 100%;
    width: 30px;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 0.5em; */
}

strong{
    font-weight: 600;
}
p.muted-text{
    font-size: 14px;
    color: #6c757d;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: f;
    background-color: rgb(244, 210, 138);
}