@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    height: auto;
    width: 100vw;
    background-color: #f1f3f5;
    font-family: 'Inter', sans-serif;
}

h3 b {
    font-weight: 700;
}

.icon {
    height: 20px;
    width: 20px;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1.5fr 30fr 0.5fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "s h"
        "s m"
        "s f";
    /* animation: 1s slideLeft infinite; */

}

header {
    display: flex;
    align-items: center;
    gap: 1em;
    grid-area: h;
    background-color: #fcfcfe;
    padding-left: 14px;
    padding-top: 14px;
}

.search-bar {
    background-color: #f3f6fa;
    display: flex;
    /* outline: 1px solid; */
    border-radius: 5px;

}

.search-bar>* {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
}

.search-bar input {
    padding: 10px;
}

.search-bar input:focus {
    outline: 0;
}

.search-bar .searchButton img:hover {
    transform: scale(1.2);
}

main {
    grid-area: m;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #f5f7fb;
    padding: 48px 48px 24px;
}

.row {
    /* outline: 1px solid; */
    width: 100%;
}

.row:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    height: auto;
}

.row:nth-of-type(2) {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    height: auto;
}

.row:nth-of-type(2) .card:nth-child(3) {
    flex: 1;
}

.card {
    padding: 20px;
    background-color: white;
}

.row:nth-of-type(1) .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* outline: 1px solid; */
}

.card h1 {
    font-size: 28px;
    font-weight: 400;
    color: black;
}

.card-row-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-row-stats {
    display: flex;
    gap: 7px;
}

.tag {
    font-size: 11.2px;
    border-radius: 3px;
    padding: 3px 5px;
    /* outline: 1px solid; */
}

.blue {
    background-color: rgba(59, 125, 221, .15);
}

.green {
    color: #1cbb8c;
    background-color: rgba(28, 187, 140, .15);
}

.red {
    color: #dc3545;
    background-color: rgba(220, 53, 69, .15);
}

.card-row-stats p {
    font-size: 14px;
}

.row:nth-of-type(1) .card:nth-child(5) {
    grid-area: 1/3/-1/-1;
}

.card:nth-child(5) {
    /* width: 100%; */
}

.card-title {
    font-size: 14px;
    color: #939ba2;
    font-weight: 600;
}

main h3 {
    font-size: 21px;
}

.sidebar {
    direction: ltr;
    height: 100vh;
    min-width: 220px;

    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: rgb(255, 255, 255);
    grid-area: s;
    padding-left: 60px;
    /* animation: 1s slideLeft infinite; */
}

@keyframes slideLeft {
    100% {
        transform: translate(0px, 0px);
        -webkit-transform: translate(-270px, 0px);
    }
}

.sidebar-user {
    /* outline: 1px solid; */
    display: flex;
    align-items: center;
    gap: 1em;
}

.sidebar-user h5 {
    font-weight: 600;
}

.sidebar ul {
    /* outline: 5px solid; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar li {
    /* outline: 1px solid; */
    display: flex;
    gap: 1em;
    font-size: 14px;
    color: #495057;
    font-weight: 500;
}

.sidebar li:hover,
#toggle-sidebar-button:hover {
    /* color: #518be1; */
    /* turn blue */
    filter: invert(54%) sepia(49%) saturate(591%) hue-rotate(178deg) brightness(88%) contrast(102%);
}

.activate-blue {
    filter: invert(54%) sepia(49%) saturate(591%) hue-rotate(178deg) brightness(88%) contrast(102%);
}

th {
    color: #495057;
    font-size: 14px;
    /* padding: 12px 12px 12px 20px; */
    font-weight: 900;
    text-align: left;
}

tr:nth-child(1) progress {
    accent-color: blue;
}

tr:nth-child(2) progress {
    accent-color: red;
}

tr:nth-child(3) progress {
    accent-color: green;
}

table button {
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    padding: 4px 13px;
    background-color: #f5f7fb;
}

table button:hover {
    background-color: #d0d2d5;
}

th,
td,
table {
    /* outline: 1px solid; */
}

table {
    width: 100%;
    /* min-width: 700px; */
    border-collapse: separate;
    border-spacing: 20px;
    overflow-x: auto;
}

td {
    /* outline: 1px solid; */
    vertical-align: middle;
}

.column1 {
    display: flex;
    gap: 10px;
}

.column1 img {
    height: 100%;
    width: 30px;
}

.cont {
    /* outline:1px solid; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 0.6em;
}

strong {
    font-weight: 600;
}

p.muted-text {
    font-size: 14px;
    color: #6c757d;
}

footer {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: f;
}

footer a {
    color: black;
}



@media screen and (max-width: 992px) {
    .container {
        grid-template-rows: 1fr 30fr 0.5fr;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: "h h""m m""f f";
    }

    .sidebar {
        display: none;
    }

    .row:nth-of-type(1) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .row:nth-of-type(1) .card:nth-child(5) {
        grid-area: 3/1/-1/-1;
    }

    .row:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .row:nth-of-type(2) .card:nth-child(1) {
        grid-area: 1/1/2/2;
    }

    .row:nth-of-type(2) .card:nth-child(2) {
        grid-area: 1/2/2/3;
    }

    .row:nth-of-type(2) .card:nth-child(3) {
        grid-area: 2/1/3/3;
        flex: 0;
    }


}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
    .container {
        grid-template-rows: 0.5fr 30fr 0.5fr;
    }

    .row:nth-of-type(1),.row:nth-of-type(2) {
        display: flex;
        flex-direction: column;
    }
    
    /* remove second and third columns from table */
    table {
        min-width: 300px;
    }
    tr td:nth-child(2), thead th:nth-child(2),tr td:nth-child(3), thead th:nth-child(3){
        display: none;
    }
}