body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: aliceblue;
}

.Home {
  font-size: 100px;
  font-weight: 700;
  text-align: center;
}

img {
  position: absolute;
  top: 10px;
  right: 10px;
}
