/* include global styles here  */
@font-face {
  font-family: Greycliff;
  src: url("./../assets/font/GreycliffCF-Bold.woff2");
}

body {
  padding: 10px;
  display: grid;
  place-items: center;
  font-family: Greycliff;
}

b {
  font-weight: 600;
}
