@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap");
:root {
  --black-cell: #c8c8c8;
  --white-cell: #f5f5f4;
  --explored-cell-color: #ccbfb3;
  --neighbour-color: #b4ccfa;
}
body {
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #f3f4f6;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
}

#board {
  border-collapse: separate;
  outline: 1px solid;
  border-spacing: 1px;
}
td {
  background-color: var(--black-cell);
  line-height: 0px;
  position: relative;
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
}

#horse {
  z-index: 2;
}
#carrot {
  z-index: 1;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background-color: var(--white-cell);
}

#horse,
#carrot {
  position: absolute;
  display: grid;
  place-items: center;
  font-size: 30px;
  width: 40px;
  height: 40px;
  /* outline: 3px solid red; */
}
#horse.dragging {
  opacity: 0.5;
}
#board tr td.shortest {
  background-color: green;
}

#board td.neighbour {
  /* box-shadow: inset 0 0 5px #0f0; */
  /* outline: 1px solid var(--neighbour-color); */
  background-color: var(--neighbour-color);
}

pre code {
  font-size: 30px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
