body {
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #f3f4f6;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  background: #44403c;
  outline: 1px solid;
}
td {
  position: relative;
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
}
#horse {
  position: absolute;
  z-index: 99;
}
td:nth-child(1) {
  background-color: green;
}
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: #f5f5f4;
}
