@font-face {
  font-family: "roboto";
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Roboto");
  font-display: swap;
}

.App {
  font-family: "roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
  height: auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(233, 233, 233);
}

img {
  transition: 3s;
}

img:hover {
  rotate: 360deg;
}

.header {
  /* outline: 1px solid; */
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.scores {
  display: flex;
  gap: 2em;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  font-size: 33px;
}

.score-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tog-btn {
  height: auto;
  background-color: transparent;
  border: 0;
}

.tog-btn:hover {
  color: rgb(83, 83, 83);
}

.cards-container {
  margin: auto;
  /* outline: 1px dotted; */
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;
}

.popover-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 30px;
  border-radius: 10px;
  padding: 30px;
  min-height: 200px;
  max-width: 50vw;
}
.popover-panel h1 {
  color: orange;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

footer {
  font-weight: 600;
  height: 30px;
  display: grid;
  place-items: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 20px;
}

footer a {
  color: white;
}

footer a:hover {
  color: orange;
}

/* start of transition animation for panel */
.t1 {
  transition: ease-out 200ms;
}
.t2 {
  opacity: 0;
}
.t3 {
  opacity: 100ms;
}
.t4 {
  transition: ease-in 150ms;
}
.t5 {
  opacity: 100;
}
.t6 {
  opacity: 0;
}
/* end of transition animation for panel */

@media screen and (max-width: 500px) {
  .cards-container {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .scores {
    gap: 1em;
  }

  .popover-panel {
    font-size: 20px;
    border-radius: 10px;
    padding: 30px;
    min-height: 200px;
  }
  .popover-panel h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
