@font-face {
  font-family: "abril";
  src: url(../fonts/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: "vietnam";
  src: url(../fonts/BeVietnamPro-Light.ttf);
}
body{
  color: white;
}
.card{ /*box*/
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* border: 5px solid red; */
  gap: 2em;
  margin: auto;
  margin-top: 30px;
  width: 60vw;
  max-width: 1500px;
  height: auto;
  border-radius: 30px;
  padding:50px;
}
.card-title{ /*item*/
  text-align: center;
  font-size: 100px;
  /* border: 4px solid white; */
  font-family:"abril";
  border-radius: 50px;
}
.subtitle{
  font-size: 50px;
  font-family: "abril";
  font-weight: bold;
}
.content{ /*item of card + box with 2 columns*/
  font-family: "vietnam";
  display: flex;
  flex-direction: row;
  gap: 5em; 
  /* border: 5px solid green; */
  height: 70vh;
  /* flex-grow: 0; */
  /* flex-shrink: 1; */
}
.columns{ /*item of content */
  /* flex-grow: 1; */
  width:50%;
  padding: 50px;
  border-radius: 50px;

  flex-grow: 1;
  flex-shrink: 1;
  height: auto;
  overflow: hidden;
}
.columns:hover{
  overflow-y: auto;
}
/* neumorphic effect  */
.card, .card-title, .columns, .image-box img, .cooking-info{
  border-radius: 64px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  7px 7px 14px #c2c2c2,
               -7px -7px 14px #ffffff;
}

.columns:nth-child(1){
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 1em;
  /* border:5px solid black; */
}

.image-box img {
  object-fit: contain;
  width: 100%;
}

.image-box{/*item of columns:nth-child(1)*/
  /* border: 5px solid violet; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

ul, ol, .cooking-info, .description{
  font-size: 30px;
}
ul{
  list-style-type:square;
}
ol{
  list-style-type: upper-roman;
  margin-left: 20px;
}
li{
  margin-bottom: 30px;
}

.cooking-info{ /*item of columns:nth-child(1)*/
  /* border: 1px solid rgb(255, 255, 255); */
  text-align: center;
  padding: 30px;
  justify-self: flex-end;
}

@media screen and (max-width:1540px) {
  .card{
    height: auto;
    width: auto;
    padding: 10px;
    box-shadow: none;
  }
  .image-box{
    /* width: 60%; */
    align-self: center;
  }
  .image-box img {
    /* width: 70%; */
    /* height: 60vh; */
    /* box-shadow: none; */
    border-radius: 30px;
  }
  .content{
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .columns{
    border-radius: 64px;
    padding: 0px;
    padding-top: 40px;
    width: 100%;
    overflow-y: none;
    /* border-radius: 5px; */
  }
  ol{
    list-style-type:decimal;
    margin-left: 5px;
  }
  .cooking-info{
    padding: 10px;
  }
}

@media screen and (max-width:520px) {
  .card-title{ /*item*/
    font-size: 80px;
  }
}
@media screen and (max-width:280px) {
  .card-title{ /*item*/
    font-size: 25px;
    /* border-radius: 10px; */
  }
  .subtitle{
    font-size: 26px;
  }
  ul, ol, .cooking-info, .description{
    font-size: 20px;
  }
/* neumorphic effect  */
.card, .card-title, .columns, .image-box img, .cooking-info{
  border-radius: 25px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  7px 7px 14px #c2c2c2,
               -7px -7px 14px #ffffff;
}

}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fdc40a; 
}