extends layout

block content
    h1 Form

    form(action='/new', method='POST')
        p
            | name: 
            input(type='text', name='user', value='anonymous')
            |          message: 
            input(type='text', name='text', value='')
        input(type='submit', value='Submit')
