@font-face {
    font-family: 'marqueem';
    src: url('./assets/marqueem.ttf');
}
@font-face {
    font-family: 'Oswald';
    src: url('./assets/Oswald-SemiBold.ttf');
}
:root {
    --logo-color: #ef227d;
    --logo-border-color: white;
    --selected-tab-color: white;
    --unselected-tab-color: #bfbfbf;
}

body {
    background-color: black;
    color: white;
    font-family: 'marqueem', 'Times New Roman', Times, serif;

    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 5em;
    height: 100%;
    width: 60%;
    /* outline: 5px solid green; */
}

/* CSS for nav bar starts here */
#nav {
    padding-top: 22px;
    /* outline: 3px solid greenyellow; */
    transition: 1s;
}

#nav ul {
    transition: 0.4s;
    margin: auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
    /* outline: 3px solid greenyellow; */
}

#nav li {
    color: var(--unselected-tab-color);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 25.2px;
    padding: 10px;
    /* outline: 1px solid white; */
}

#nav ul li:hover {
    color: var(--selected-tab-color) !important;
}

#nav ul li:nth-last-child(1) {
    color: var(--selected-tab-color);
    background-color: var(--logo-color);
    padding: 10px;
}

li#toggle-nav-bar {
    display: none;
    order: -1;
    margin-left: auto;
    padding-right: 20px;
    /* display: none; */
}

@media screen and (max-width:1000px) {
    body #content.home {
        width: 100%;
    }

    /* make nav bar occupy full width so that toggle
    button is pushed right */
    #nav ul {
        width: 100%;
    }

    /* display only toggle icon */
    #nav ul li {
        display: none;
    }

    #nav ul li#toggle-nav-bar {
        display: block;
    }

    /* css when nav bar is displayed fully */
    #nav ul.active {
        width: auto;
        height: auto;
        position: fixed;
        inset: 0 0 0 60%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2em;
        background-color: var(--logo-color);
        padding-top: 22px;
    }

    #nav ul.active li {
        /* all li must always be white */
        color: white !important;
        display: grid;
        place-items: center;
    }
}

/* CSS for nav bar ends here */



/* CSS for homepage starts here */

#content.home #logo {
    color: white;
    /* outline: 10px solid blue; */
    width: 70%;
    align-self: center;
    text-align: center;
}

#content.home .neonText {
    font-size: 5rem;
    text-shadow:
        0 0 7px var(--logo-color),
        0 0 10px var(--logo-color),
        0 0 21px var(--logo-color),
        0 0 42px var(--logo-color),
        0 0 82px var(--logo-color),
        0 0 92px var(--logo-color),
        0 0 102px var(--logo-color),
        0 0 151px var(--logo-color);
}

#content.home #logo h1 {
    /* font-size: 4rem; */
    animation: pulsateText 0.5s infinite alternate, pulsateBoxShadow 0.5s infinite;
    border: 0.2rem solid #fff;
    border-radius: 10px;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem var(--logo-color),
        0 0 0.8rem var(--logo-color),
        0 0 2.8rem var(--logo-color),
        inset 0 0 1.3rem var(--logo-color);
}

@keyframes pulsateText {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 20px var(--logo-color),
            0 0 40px var(--logo-color),
            0 0 40px var(--logo-color),
            0 0 100px var(--logo-color),
            0 0 110px var(--logo-color);

    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px var(--logo-color),
            0 0 45px var(--logo-color),
            0 0 45px var(--logo-color),
            0 0 70px var(--logo-color),
            0 0 80px var(--logo-color);

    }
}

@keyframes pulsateBoxShadow {

    100% {

        box-shadow:
            0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem var(--logo-color),
            0 0 0.8rem var(--logo-color),
            0 0 2.8rem var(--logo-color),
            inset 0 0 1.3rem var(--logo-color)
    }

    0% {

        box-shadow:
            0 0 .3rem #fff,
            0 0 .3rem #fff,
            0 0 3rem var(--logo-color),
            0 0 0.9rem var(--logo-color),
            0 0 2.2rem var(--logo-color),
            inset 0 0 1.3rem var(--logo-color)
    }
}

#content.home h3 {
    font-size: 36px;
    text-align: center;
    /* outline: 1px solid yellow; */
}

#content.home h3>a {
    text-decoration: none;
    color: var(--logo-color);
}

#content.home>h3>a:hover {
    --logo-color: white;
}

#content.home .card-container {
    width: 100%;
    /* height: 100px; */
    display: flex;
    /* outline:1px solid whitesmoke; */
}

#content.home .card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#content.home .card-image {
    height: 60%;
    /* outline: 1px solid red; */
}

#content.home .card-image>img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#content.home .card-title {
    text-align: center;
    font-size: 27px;
    letter-spacing: 2px;
}

#content.home .card-title:hover {
    color: var(--logo-color);
}

@media screen and (max-width:400px) {
    #content.home .card-container {
        flex-direction: column;
    }
}

/* CSS for homepage ends here */


/* CSS for menu page starts here */
#content.menu .menu-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 100px;
    /* outline:1px solid red; */
}

#content.menu .menu-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* outline:1px solid rosybrown; */
}

#content.menu .menu-title {
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--logo-color);
    display: grid;
    place-items: center;
    /* outline:1px solid blue; */
}

#content.menu .menu-ingredients {
    width: 60%;
    /* font-family: 'Oswald', sans-serif; */
    font-size: 25px;
    letter-spacing: 2px;
    /* outline:1px solid white; */
}

#content.menu .menu-line {
    flex: 1;

    display: block;
    height: 1px;
    border: 0;
    border-top: 3px dotted #ccc;
    margin: 1em 0;
    padding: 0;
}

#content.menu .menu-sub-container {
    display: flex;
    gap: 1em;
}

#content.menu .menu-cost {
    color: yellow;
    font-size: 40px;
    letter-spacing: 2px;
    /* outline:1px solid green; */
}

@media screen and (max-width:710px) {
    #content.menu .menu-sub-container {
        flex-direction: column;
    }

    #content.menu .menu-ingredients {
        width: 100%;
    }

    #content.menu .menu-line {
        display: none;
    }

    #content.menu .menu-cost {
        display: grid;
        place-items: center;
    }
}

/* CSS for menu page ends here */

/* CSS for gallery page starts here */
#content.gallery .gallery-container {
    width: 100%;
    display: grid;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:1em;
}

#content.gallery .img-container {
    /* outline: 1px solid white; */
    overflow: hidden;
}

#content.gallery .img-container>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1s;
}

#content.gallery .img-container:hover img {
transform: scale(1.5);}

/* CSS for gallery page ends here */