@import "index.css";

.contact {
  box-sizing: border-box;
  height: 110vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.contact form {
  padding: 20px;
  display: flex;
  gap:1em;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.contact input {
  border: 0;
  height: 30px;
  border-radius: 5px;
  background-color: #fafafa;
}

.contact input,
.contact textarea {
  font-family: inherit;

  font-size: 16px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: #fafafa;
}

.contact textarea:focus,
.contact input:focus {
  outline: 1px solid gray;
}
.contact .group {
  flex-basis: 40%;

  display: flex;
  gap: 0.8em;
  flex-direction: column;
}

.contact button {
  margin-top: 24px;
}
