@import "index.css";

.home {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 2fr;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.main {
  width: 70%;
  /* outline: 1px solid; */
}
h1 {
  line-height: 70px;
  font-size: 50px;
  color: var(--cokelat);
  font-weight: 700;
  margin-bottom: 25px;
}
p {
  line-height: 25px;
  font-size: 16px;
  color: #6b6262;
  margin-bottom: 50px;
}
img {
  height: 100vh;
  width: 100%;
}

button {
  /* text-transform: uppercase; */
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--cokelat);
  color: white;
  height: 50px;
  width: 200px;
  display: grid;
  place-items: center;
  border-radius: 20px;
}

button:hover {
  opacity: 0.8;
}
