.home {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 2fr;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.home .main {
  width: 70%;
  /* outline: 1px solid; */
}

.home p {
  line-height: 25px;
  font-size: 19px;
  color: #6b6262;
  margin-bottom: 50px;
}
.home img {
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .home {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:4em;
    padding: 100px 20px;
    height: 100vh;
    width: 100%;
    background-color: white;
  }

  .home img{
    border-radius: 10px;
  }
  .home .main {
    width: 100%;
  }
}
