@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  font-display: swap;
}
:root {
  --cokelat: #3a1111;
  --yellow: #f9fe00;
  --orange: #ffd600;
  --light-grey: #fafafa;
}

body {
  color: black;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
