@import "index.css";

nav {
  outline: 1px solid;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 3vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
}

.logo {
  /* outline: 1px solid; */
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 22px;
  font-weight: 600;
  color: var(--cokelat);
}

nav ul {
  /* outline: 1px solid red; */
  margin: 0;
  gap: 5em;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  padding-right: 20px;
}

.bold {
  font-weight: 700;
}

li {
  color: black;
  text-decoration: none;
}

nav ul li:hover {
  text-decoration: underline;
}
