nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 3.5vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background-color: transparent;
}

.logo {
  /* outline: 1px solid; */
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 22px;
  font-weight: 700;
  color: var(--cokelat);
}

nav > .tabs {
  /* outline: 1px solid red; */
  margin: 0;
  /* gap: 5rem; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

nav .tabs li {
  position: relative;

  color: black;
  text-decoration: none;
}

nav > .tabs li:hover {
  scale: 1.1;
}

nav .underline {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--cokelat);
}

@media screen and (max-width: 1260px) {
  nav {
    height: 5vw;
  }
}
@media screen and (max-width: 800px) {
  nav {
    height: 65px;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    display: none;
  }
  nav > .tabs {
    width: 100%;
  }
}
