@import "index.css";

.products {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.products .cardContainer {
  outline: 1px solid;
  width: 60%;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
  display: flex;
}

.products input {
  background-color: var(--light-grey);
  border: 0;
  padding: 10px;
}
