.products {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  width: 100%;
}
.products h1 {
  margin-top: 60px;
}
.products .cardContainer {
  /* outline: 1px solid; */
  width: 60%;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
  display: flex;
}

.products .searchBar {
  width: 40%;
  display: flex;
  background-color: var(--light-grey);
}
.products .searchBar,
.products .searchBar .searchIcon {
  border-radius: 5px;
  /* outline: 1px solid; */

}

.products .searchBar .searchIcon {
  display: grid;
  place-items: center;
  background-color: var(--orange);
  height: 100%;
  padding: 5px;
}
.products .searchBar .searchIcon:hover {
  scale: 1.1;
}
.products input {
  background-color: var(--light-grey);
  padding: 10px;
  border: 0;
  width: 100%;
}

.products input:focus {
  outline: 0px;
}
