
body{
    height: 100vh;;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0; */
    padding: 0;
}

.abacus{
    display: flex;
    outline:5px solid blue;
}
.column{
    position: relative;
    outline:1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.bead{
    position: relative;
    border-radius: 50%;
    transform: translateY(0px);

    text-align: center;
    font-size: large;
    color: white;
}
.stick{
    position: absolute;
    width: 5px;;
    /* outline:1px solid blue; */
    background-color: brown;
    z-index:-1; /*place stick behind beads*/
}
