:root {
    --player1-color: #fb2dd9;
    --player2-color: #2d9bfb;
}

body {
    height: 100vh;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

#offcanvas {
    height: 60vh;
}

#offcanvas img {
    height: 1000px;
}

.navIcon {
    color: black;
    background-color: transparent;
    border: 0;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

.left {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid; */

}

.scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    perspective-origin: bottom left;
    perspective: 310px;
    /* outline: 1px solid; */
}

.disable3Dscene {
    flex-direction: row;
    justify-content: center;
    gap: 1em;

    transform-style: flat;
    perspective-origin: 50% 50%;
    perspective: unset;
}

.cell {
    border: 1px solid;
    border-color: rgb(164, 164, 164);
    transition: .5s;

    /* font-size: 1rem;
    font-weight: 900;
    display: grid;
    place-items: center; */
}

.not-allowed {
    cursor: not-allowed;
}

.winning-cell {
    animation: blink 1s infinite;
    /* border: 1px solid black; */
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.cell:hover {
    border-color: black;
}

.board {
    height: max(120px, 10vw);
    width: max(120px, 10vw);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.2rem;
    /* background-color: aliceblue; */
}

@keyframes autorotate {
    from {
        transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
        webkit-transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
    }

    to {
        transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
        webkit-transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
    }
}

.animateAutoRotate {
    animation: autorotate 10s linear infinite;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu li {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:650px) {
    body {
        display: flex;

        flex-direction: column;
        height: auto;
    }

    .disable3Dscene {
        flex-direction: column;
    }

    .left {
        height: 100vh;
    }
}