body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    padding: 0;
}
#console{
    box-shadow: 8px 8px rgb(151, 150, 150);

    display: flex;
    flex-direction: column;
    /* flex-shrink: 0; */
    height: 400px;
    width: 350px;
    border: 5px solid black;
    border-radius: 20px;
}
#screen{
    height: 300px;
    width: 350px;
    position: relative;
    /* border:5px solid blue; */
}
#player{
    height: 100px;
    width: 50px;
    background-color: rgb(248, 181, 81);
    position: absolute;
    top:196px;

}
#computer{
    height: 100px;
    width: 50px;
    background-color: lightpink;
    position: absolute;
    top:196px;
    left:300px;
    /* border: 3px solid black; */
    /* align-self: flex-end; */
    /* position: relative; */
    /* left: 72vh; */
}
/* weapon styles*/

#player-weapon,#computer-weapon{
    height: 20px;
    width: 20px;
    position: absolute;
    border: 5px solid blue;
}
#player-weapon{
    top:230px;
    left:50px;
    border: 5px solid rebeccapurple;
}
.animate{
    animation: player-attack .5s linear ;
}
@keyframes player-attack {
    0%{left:50px;}
    100%{left:270px;}  
}
#computer-weapon{
    top:230px;
    left:270px;
}
@keyframes computer-attack {
    0%{left:270px;}
    100%{left:50px;}  
}

/* Life bars */
#player-life,#computer-life{
    display: flex;
    height: 40px;
    width: 100px;
    position: absolute;
    border: 2px solid red;
}
#player-life{
    top:80px;
    left:0px;
}
#computer-life{
    top:80px;
    left:240px;
}

/* Game pad styles*/
#gamepad{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-shrink: 0; */
    align-self: flex-end;
    height: 100px;
    width: 350px;
    border-top: 5px solid black;
}

.button{
    color: black;
    height: 50px;
    width: 50px;
    /* border:2px solid; */
    border-radius: 15px;
    box-shadow: 0 5px #999;
    border-radius: 50%;
}
.button:hover {  box-shadow: 0 6px #666;}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
.button:nth-child(1){
    background-color: rgb(240, 81, 81);
}
.button:nth-child(2){
    background-color: rgb(109, 109, 245);
}
.button:nth-child(3){
    background-color: rgb(107, 232, 107);
}