@font-face {
    font-family: 'retro';
    src: url(font/Retro\ Gaming.ttf);
}
body{
    font-family: 'retro';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    padding: 0;
}
#console{
    box-shadow: 8px 8px rgb(151, 150, 150);
    display: flex;
    flex-direction: column;
    /* flex-shrink: 0; */
    height: 400px;
    width: 350px;
    border: 1px solid black;
    border-radius: 20px;
}
#screen{
    border-top-right-radius: 20px; /*same as console*/
    border-top-left-radius: 20px; /*same as console*/
    background-image: url(img/background.png) ;
    background-position: center center;
    background-size: cover ;
    height: 300px;
    width: 350px;
    position: relative;
    /* border:5px solid blue; */
}
#player{
    display: block;
    background-image: url(sprites/humansprite.png);
    background-position: -128px -128px;
    height: 64px;
    width: 32px;
    /* background-color: rgb(248, 181, 81); */
    position: absolute;
    top:196px;
    left:15px;
    /* border: 1px solid green; */
    transform: scale(2);
}

#computer{
    display: block;
    background-image: url(sprites/computersprite.png);
    background-position:  20px -510px ;

    height: 120px;
    width: 90px;
    /* background-color: rgb(220, 64, 217); */
    position: absolute;
    top:180px;
    left:250px;
    transform:scaleX(-1);
    /* transform: scale(2); */

    /* border: 3px solid black; */

}

/* weapon styles*/

#player-weapon, #computer-weapon{
    background-image: url(img/ghost.png);
    background-position: center center;
    background-size: cover ;
    height: 20px;
    width: 20px;
    position: absolute;
    top:210px;
    /* border: 5px solid blue; */
}
#player-weapon{
    left:50px;
}
#computer-weapon{
    left:230px;
}

/* Fighting animations  */
.animatePlayerWeapon{
    animation: player-weapon-move .8s linear  ;
}
.animatePlayerCharacter{
    animation: player-attack .3s steps(3);
}
.animateComputerWeapon{
    animation: computer-weapon-move .8s linear;
}
.animateComputerCharacter{
    animation: computer-attack .3s  steps(3);
}

@keyframes player-attack{
    from{background-position-x:-128px;}
    to{background-position-x:-224px;}
}
@keyframes  player-weapon-move {
    0%{left:50px;}
    100%{left:270px;}  
}

@keyframes computer-attack{
    from{background-position-x:20px ;}
    to{background-position-x:-290px;}
}
@keyframes computer-weapon-move {
    0%{left:270px;}
    100%{left:50px;}  
}

/* Life bars */
#player-health-bar,#computer-health-bar{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    height: 30px;
    width: 100px;
    position: absolute;
    border: 3px solid black;
    border-radius: 10px;
}
#player-health-bar img,#computer-health-bar img{
    height: 10px;
    width: 10px;;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10px;
    /* border: 3px solid black; */
}
#playerbar, #computerbar{
    background-color: red;
    border-radius: 20px;
    width: 70%;
    height: 5px;
    border: 2px solid black;
}
#player-health-bar{
    top:80px;
    left:10px;
}
#computer-health-bar{
    top:80px;
    left:240px;
}



/* Game pad styles*/
#gamepad{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-shrink: 0; */
    align-self: flex-end;
    height: 100px;
    width: 350px;
    /* border-top: 5px solid black; */
}

.button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: black;
    box-shadow: 0 5px #999;
}
.button:hover {  
    box-shadow: 0 6px #666;
    transform: translateY(2px);
}

.button:nth-child(1){
    background-color: rgb(239, 136, 136);
}
.button:nth-child(2){
    background-color: rgb(170, 170, 253);
}
.button:nth-child(3){
    background-color: rgb(131, 240, 131);
}
.button img{
    height: 30px;
    width: 30px;
}