@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: #f1f3f5;
    font-family: 'Inter', sans-serif;
    padding: 50px;
    counter-reset: rowCounter;
}

.progress {
    background-color: #a5f1db;
    height: 0.9rem;
}

.bg-success {
    background-color: rgb(33, 209, 156) !important;
}

th,
td,
table {
    /* outline: 1px solid; */
}

tr td:first-child:before {
    counter-increment: rowCounter;
    content: counter(rowCounter);
}

/* space buttons in Actions column */
tr td:nth-last-child(1) {
    display: flex;
    justify-content: space-between;
}

.container table td {
    vertical-align: middle;
}

th {
    font-weight: bold;
}

table caption {
    caption-side: top;
}

.blank_row {
    display: grid;
    place-items: center;
    height: 50px;
    background-color: #eaeaea;
}

.blank_row:hover {
    background-color: #dedede;
}