@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    width: 100vw;
    height: auto;
    display: grid;
    place-items: center;
    background-color: #f1f3f5;
    font-family: 'Inter', sans-serif;
    padding: 50px;
}

.container {
    height: auto;
    /* outline: 1px solid; */
    width: 100%;
}

.progress {
    background-color: #a5f1db;
    height: 0.9rem;
}

.progress-bar {
    padding: 0.3rem;
}

.bg-success {
    background-color: rgb(33, 209, 156) !important;
}

th,
td,
table {
    /* outline: 1px solid; */
}

/* space buttons in Actions column */
tr td:nth-last-child(1) {
    display: flex;
    gap:1em;
}

.container table td {
    vertical-align: middle;
}

th {
    font-weight: bold;
}

table caption {
    caption-side: top;
}

#addRowBtn {
    display: grid;
    place-items: center;
    height: 50px;
    background-color: #eaeaea;
}

#addRowBtn:focus {
    outline: 0;
}

#addRowBtn:hover {
    background-color: #dedede;
}