@font-face {
    font-family: "truenoexbd";
    src: url(font/truenoexbd.otf);
}
@font-face {
    font-family: "truenoltit" ;
    src: url(font/truenoltit.otf);
}
@font-face {
    font-family: "truenobd";
    src: url(font/truenobd.otf);
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: space-around;
    font-family: "truenoexbd";
}
.header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-top:10px; */
    /* border: 1px solid rgb(0, 236, 142); */
}
.header-logo{
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}
.header-links{
    /* border: 5px solid blue; */
    width: 50%;
    justify-self: flex-end;
    font-size: 18px;
    color: #c4c6cb;

}
.header-links ul{
    /* border: 5px solid red; */
    display: flex;
    justify-content: flex-end;
    margin:0;
    padding: 0;

    list-style-type: none;
}
.header-links ul li{
    margin-left: 40px;
    /* border: 5px solid white; */
    transition: all .5s ease;
    /* padding-left: 3px; */
    /* padding-right : 7px; */
    border-radius: 10px;
    padding: 5px;
}
.header-links ul li:hover{
    color: #001F3F;
    background-color: #fff;
}
.top-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* border:5px solid tomato; */
    background-color: #2d3c50;
    color: white;
    /* margin-top: 100px; */
}
.top-subsection .top-text .title{
    font-size: 48px;
    font-weight: 900;
}

.top-image{
    display: flex;
    /* border:5px solid rgb(226, 43, 150); */
    /* flex-grow:0; */
    margin-left: 10px;
    /* flex-shrink: 1; */
}
.top-image img{
    object-fit: contain;
    max-width:100%;
}
.top-subsection{
    margin-top: 60px;
    display: flex;
    flex: 1;
    margin-left: 10px;
    height: 90vh;
    /* border:5px solid rgb(60, 243, 24); */
}
.subtext{
    font-family: "truenobd";
    margin-top:15px;
    font-size: 17px;
}
.top-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 50%; */
    align-self: center;
    /* border:5px solid blueviolet; */
}
.top-text .mybutton{
    border: 1px solid #2d3c50 ;
    width: 60%;
    /* flex-basis: 50px; */
}
.mybutton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    transition: all .5s ease;
    font-family: "truenoexbd";
    font-size: 20px;
    background-color: #3882F6;
    border-radius: 10px;
    /* margin: 10px; */
    color: white;
    font-weight: bold;
    flex-grow: 0;
}
.mybutton:hover {
    color: #001F3F;
    background-color: #fff;
}
.top-text .mybutton{
    margin-top: 20px;

}

/* intro section  */
.intro-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 50vh;
    /* border:2px solid red; */
}

.grid{
    /* border:5px solid bisque; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.image-container{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    width: 20%;
    /* border:3px solid red; */
}
.image-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border:2px solid #3882F6;
    border-radius: 10px;;
}
.image-box img{
    width: 100px;
    height: 100px;
}
.image-caption{
    font-family: "truenoltit" ;
}
/* quote section  */
.quote-section{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "truenoltit" ;
    background-color: rgb(228, 228, 228);
}
.quote-container{
    /* border:5px solid palegreen; */
    display: flex;
    width: 60%;
    flex-direction: column;
    padding: 20px;
}
.quote-text{
    font-size: 30px;
    font-style: italic;
    /* flex: 1; */
    /* border:1px solid red; */
}
.quote-owner{
    font-size: 23px;
    font-weight: bold;
    /* border:1px solid gray; */
    align-self: flex-end;
}
/* sign-up section  */
.sign-up-section{
    color: white;
    display: flex;
    flex: 1;
    /* border:5px solid green; */
    justify-content: center;
    align-items: center;
}
.sign-up-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;;
    background-color: #3882F6;
    /* font-weight: bold; */
    border-radius: 10px;

    width: 75%;
    /* height:100px; */
    /* border:1px solid violet; */
}
.sign-up-box .mybutton{
    border: 2px solid white;
}
.footer{
    background-color: #2d3c50;
    color: white;
    justify-self: flex-end;
    text-align: center;
    /* height: 20vh; */
    /* border:5px solid fuchsia; */
}


 /* responsive design  */
@media screen and (max-width:650px) {

    .header{
        flex-direction: column;
        /* border: 2px solid rgb(0, 236, 142); */
    }
    .header-links{
        width: 100%;
    }
    .header-links ul{
        justify-content: space-around;
    }
    .header-links ul li{
        margin-left: 10px;
    }
    .top-section{
        display: flex;
        flex-direction: column;
        gap:1em;
        height: auto;
        width: 100%;
        /* border:1px solid tomato; */
        background-color: #2d3c50;
        color: white;
    }
    .top-subsection{
        margin-left: 0px;
        /* height: auto; */
        margin-top: 0px;
        align-self:flex-start;
        display: flex;
        flex-direction: column;
    }
    .top-text{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .top-image{
        justify-content: center;
        order: -1;
        margin-left: 0px;
    }
    .top-image img{
        object-fit: contain;
        /* max-width:60vh; */
        width: 60%;
        /* max-width:100%; */
    }
    .intro-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .grid{
        display: flex;
        flex-direction: column;
        gap:2em;
        justify-content: center;
    }
    .image-container{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .sign-up-box{
        flex-direction: column;
    }
    .quote-text{
        font-size: 25px;
    }
    .quote-owner{
        font-size: 15px;
    }
}
@media screen and (max-width:280px) {
    .header{
        height: auto;
    }
    .header-links ul{
        flex-direction: column;
    }
    .header-links ul li{
        font-size: 13px;

        margin-left: 0px;
        list-style-type:circle;
    }
    .top-subsection .top-text .title, .intro-section .heading{
        font-size: 26px;
        font-weight: 900;
    }
    .top-image img{
        width: auto;
    }
    .subtext, .image-caption, .footer, .sign-up-section{
        font-size: 13px;
    }
    .mybutton{
        height: 30px;
        width: auto;
        font-size: 15px;
    }
    .quote-text{
        font-size: 15px ;
    }
}
