:root {
    --gray: rgb(194, 193, 193);
    --red: #ffe2dd;
    --yellow: #fdecc8;
    --green: #dbeddb;
    --gray-hover: rgb(248, 248, 248);
    --icon-color: #bbbbbb;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px 12px;
    gap: 1em;
    width: 100%;
    /* background-color: rgb(249, 211, 211); */
}

nav .project-title {
    height: 100%;
    font-size: 15px;
    margin-bottom: 0;
}

.toggle-btn {
    height: 20px;
    width: 20px;
    /* outline:1px solid; */
}

.toggle-btn>.faaa+.faaa,
.toggle-btn:hover>.faaa {
    display: none;
}

.toggle-btn:hover>.faaa+.faaa {
    display: inherit;
}

#sidebar ul {
    margin-left: 0;
    padding-left: 0;
}

#sidebar li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#sidebar li:hover {
    background-color: var(--gray-hover);
}

.delete-icon {
    color: var(--icon-color);
}

.delete-icon:hover {
    color: red;
}

#sidebar li .delete-icon {
    display: none;
}

#sidebar li:hover .delete-icon {
    display: inline;
}

main {
    height: auto;
    /* outline: 1px solid; */
    padding: 40px 90px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main .project-title {
    font-size: 40px;
}

main .options-tab {
    display: flex;
    justify-content: space-between;
    /* outline: 1px solid black; */
    border-bottom: 1px solid rgb(221, 221, 221);
}

main .options-tab ul {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2em;
    /* outline:1px solid ; */

}

.options-tab li {
    color: var(--gray);
    padding:5px;
    border-radius: 3px;
    /* outline:1px solid ; */
}
.options-tab li:hover {
background-color: var(--gray-hover);

}

.options-tab .display-type li:nth-child(1) {
    color: black;
    /* text-decoration: underline; */
    font-weight: 500;
}

.kanban-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    width: 100%;
    /* outline: 1px solid; */
}

.col,
.cards-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* height: 100%; */
    /* background-color: rgb(220, 220, 220); */
}

.col-header {
    display: flex;
    gap: 1em;
}

.col-title {
    font-size: 14px;
    font-weight: 500;
}

.highlight {
    border-radius: 3px;
    width: fit-content;
    padding: 3px 6px;
}

.col:nth-child(1) .col-title {
    background-color: rgb(236, 236, 236);
}

.col:nth-child(2) .col-title {
    background-color: var(--yellow);
}

.col:nth-child(3) .col-title {
    background-color: var(--green);
}

.col-counter {
    color: var(--gray);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 9px;
}

.card:hover {
    background-color: var(--gray-hover);
}

.card-title {
    font-weight: 500;
    display: flex;
    padding: 8px 10px 6px 6px;
}

.high-priority {
    background-color: var(--red);
}

.medium-priority {
    background-color: var(--yellow);
}

.low-priority {
    background-color: var(--green);
}

.card-date,
.card-priority {
    font-size: 12px;
}

.new-row {
    color: var(--gray);
    height: 32px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.new-row:hover {
    background-color: var(--gray-hover);
}

.edit-btn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--icon-color);
}

.card:hover .edit-btn {
    display: block;
}

.edit-btn:hover {
    color: black;
}