body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin: 0;
    padding: 10px;
    background-color: aliceblue;
}
.options, .palette, .button{
    border-radius: 10px;
}

.canva, .options, .pouch{
    width: 450px;
}
.options{
    display: flex;
    /* height: 100px; */
    height: 100px;
    justify-content: space-around;
    align-items: center;
    /* border:5px solid red; */
    background-color: rgb(255, 255, 255);
    outline: 1px solid;
    box-shadow: 0px 10px;
    border-radius: 10px;
}

.redo img{
    transform: scaleX(-1);
}
.button{
    height: 50px;
    width: 50px;
    /* outline:1px solid; */
    display: flex;
    /* width: 50px; */
    /* border:5px solid black; */
    background-color: white;
}
.button:hover{
    opacity: 0.5;
}


.toggle-light-switch{
    display:flex;
    height:50px;
    width:120px;
    background:rgb(207, 207, 207);

    /* border:1px solid; */
}
.toggle-light-switch, .state-none, .state-off, .state-on{
    border-radius: 5px;
}
.state-off,.state-none,.state-on{
    display: flex;
    justify-content: center;
    /* align-items: center; */
  /*   height:100%; */
    width:33.3333%;
}
.activated{
    /* background:rgb(239, 175, 159); */
    outline:3px solid;
}

.canva{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0;
    height:350px;
    outline:1px solid black;

}
.cell{
    margin:0;
    padding:0;
    /* background-color: rgb(236, 234, 234); */
}
.cell:hover{
    opacity: 0.5;
}
.showOutline{
    outline: 1px solid rgb(208, 203, 203);
}

.selected{ 
    transform: translateY(-60px);
}

.crayon img{
    height: 250px;
    width: 40px;
}
.pouch {
    overflow: hidden;
    display: flex;
    margin: auto;
    height: 290px;
    /* background-color: rgba(0, 0, 0); */
    background:hsl(200,100%,50%);

    border: 1px solid black;
}
.palette {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
    /* height: 300px; */
    height: 300px;
    width: 300px;
    transform: translateY(70px);

    /* border: 1px solid black; */
}
.crayon:hover{
    transform: translateY(-60px);
}
