body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 10px;
    background-color: aliceblue;

}

.container {
    border: 5px solid;
    display: flex;
    width: auto;
    gap: 10px;
}

.canva,
.options,
.pouch {
    height: 530px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    /* border:5px solid red; */
    background-color: rgb(255, 255, 255);
    outline: 1px solid;
    border-radius: 10px;
}

.redo img {
    transform: scaleX(-1);
}

.button {
    /* outline:1px solid; */
    display: flex;
    background-color: white;
}

.button img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.button:hover {
    opacity: 0.5;
}


.toggle-light-switch {
    display: flex;
    flex-direction: column;
    height: auto;
    /* outline:1px solid red; */
}

.toggle-light-switch,
.state-off,
.state-on {
    border-radius: 5px;
}

.state-off,
.state-none,
.state-on {
    display: flex;
    justify-content: center;
}

.canva {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0;
    width: 530px;
    outline: 1px solid black;

}

.cell {
    margin: 0;
    padding: 0;
}

.cell:hover {
    opacity: 0.5;
}

.showOutline {
    outline: 1px solid rgb(208, 203, 203);
}

.selected {
    transform: translateY(-60px);
}



.crayon img {
    height: 400px;
    width: 50px;
}

.pouch {
    overflow: hidden;
    display: flex;
    width: 400px;
    /* border: 1px solid black; */
}

.palette {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    transform: translateY(200px);
    /* border: 5px solid black; */
}

.crayon:hover {
    transform: translateY(-60px);
}

.github-logo-wrapper svg {
    position: absolute;
    top: 0;
    right: 0;
}

@media print {

    .pouch,
    .options,
    .github-logo-wrapper {
        visibility: hidden;
    }

    .canva * {
        visibility: visible;
    }

    .canva {
        position: absolute;
        left: 0;
        top: 0;
    }
}