extends layout

block content
    h1 #{title}: #{genre.name}

    p Do you really want to delete this Genre?

    form(method='POST' action='')
        div.form-group
            input#authorid.form-control(type='hidden',name='genreid', required='true', value=genre._id )

        button.btn.btn-primary(type='submit') Delete

